Flask~=3.0.0
firebase-admin~=6.5.0
Flask-Caching==2.1.0
gunicorn
google-cloud-firestore~=2.11.0
google-cloud-storage~=2.10.0
google-cloud-texttospeech~=2.14.0
google-cloud-tasks~=2.13.0
google-generativeai
trafilatura
newspaper3k
beautifulsoup4
readability-lxml
python-dotenv
Flask-Cors
Flask-Limiter==2.8.0
Flask-Talisman
Flask-WTF
structlog
pydub
python-json-logger
python-dateutil
cachetools
feedgen
feedparser
playwright
rich<13

requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-flask

whitenoise
redis>=5.0.0
validators
pydantic-settings
pydantic-settings>=2.2,<3
