<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zissou{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/zissou_favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/response-targets.js" integrity="sha384-oT6V2v2+hZ2oFUNi2w0lF2IevyL3N2FX22M24oY6A2c/3T6iT1KDRL3R22tG/2yT" crossorigin="anonymous" defer></script>
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-100 text-gray-800 font-sans">
    <div class="container mx-auto p-4">
        {% include 'partials/_header.html' %}
        <main class="mt-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="mb-4">
                    {% for category, message in messages %}
                        <div class="p-4 rounded {{ 'bg-red-200 text-red-800' if category == 'error' else 'bg-blue-200 text-blue-800' }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </main>
        {% include 'partials/_footer.html' %}
    </div>
    <script src="{{ url_for('static', filename='js/bucket-assignment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tag-components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/load-more.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
